/.settings
dist
classes
lib/play-pdf.jar
samples-and-tests/pdf/tmp
samples-and-tests/pdf/log
samples-and-tests/pdf/modules
build.cmd
build.properties
*.iws
*.ipr
*iml
.classpath
.project
.settings
build-stamp
debian/files
debian/play-1.1-pdf-module-*
eclipse
test-result