#{extends 'main.html' /}
#{set title:'PDF Module Sample Application' /}
#{set 'moreStyles' }
        <link rel="stylesheet" media="screen" href="/public/playmanual/manual.css">
        <link rel="stylesheet" media="screen" href="/public/playmanual/wiki.css">
#{/set}
        <div class="wrapper">
            <div id="docSidebar">
                <div id="logo">
                    <img src="/public/playmanual/logo.png" alt="Play! logo">       
                </div>
            </div>
            <div id="pageContent">
                <div class="wikistyle">
                    <h1>Welcome on the PDF module sample application!</h1>
                    <p>This sample application will give you a rough idea of what you can achieve with this Play! module.</p>
                    <h2>Examples</h2>
                    <p>Select an action to perform:</p>
                    <ul>
                        <li>Print the <a href="@{generate("install")}">installation section</a> (~3 pages) of the Play! manual as a PDF document</li>
                        <li>Print the whole <a href="@{generate("home")}">Play! manual</a> as a PDF document</li>
                    </ul>
                </div>
            </div>
        </div>