html {
    overflow-y: scroll;
}

html, body {
    background: #F7F7F7;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em !important;
}

html {
    border-top: 5px solid #67A927;    
}

a {
    color: #000;
}

.wrapper {
    padding: 20px 0;
    width: 900px;
    margin: auto;
    position: relative; 
}

.wrapped {
    width: 650px;
}

/** Manual **/

#logo {
    margin-top: 10px;
    text-align: center;
}

#logo #version {
    font-size: 10px;
    margin-top: 0;
    font-weight: normal;
}

#pageContent {
    width: 650px;
}

#docSidebar {
    width: 200px;
    position: absolute;
    right: 0;
    background: #fff;
    padding: 10px;
}

#docSidebar {
    font-size: 12px;
    overflow: hidden;
    -webkit-box-shadow: #eee -1px 1px 2px;
    -moz-box-shadow: #eee -1px 1px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#docSidebar h2 {
    font-weight: bold;
    color: #666;
    font-size: 120%;
    margin-bottom: 5px;
    margin-top: 20px;
}

#docSidebar p {
    margin: 1em 0;
}

#docSidebar h2:first-child {
    margin-top: 0;
}

#docSidebar ul, #docSidebar ol {
    list-style: square;
    color: #888;
    line-height: 1.3em;
}
#docSidebar ol {
    padding-left: 2.4em;
}
#docSidebar ul {
    padding-left: 1.5em;
}

#docSidebar li {
    padding: 3px 0;
}

#docSidebar ol {
    list-style-type: decimal;
}

#docSidebar ul .selected {
    font-weight: bold !important;
}

#docSidebar a {
    color: #568C00;
}

#docSidebar ol.keywords {
    list-style-type: none;
    padding-left: 0;
}

#docSidebar ol ol {
    list-style-type: square;
    margin-top: 0.5em;
    padding-left: 1.5em;
}

.index ol {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.index ol {
    overflow: auto;
}

.index ol li {
    display: block;
    float: left;
}

.index ol li a {
    display: block;
    border: 1px solid #ddd;
    width: 130px;
    margin: 5px;
    padding: 1px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #fff;
    -webkit-box-shadow: #EEE -1px 1px 2px;
    -moz-box-shadow: #EEE -1px 1px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.wikistyle h1,.wikistyle h2,.wikistyle h3,.wikistyle h4,.wikistyle h5,.wikistyle h6{border:0!important;text-shadow: #fff 1px 1px 0px;}
.wikistyle h1{font-size:170%!important;border-top:4px solid #aaa!important;padding-top:.5em!important;margin-top:1.5em!important;}
.wikistyle h1:first-child{margin-top:0!important;padding-top:.25em!important;border-top:none!important;}
.wikistyle h2{font-size:150%!important;margin-top:1.5em!important;border-top:4px solid #e0e0e0!important;padding-top:.5em!important;}
.wikistyle h3{margin-top:1em!important;}
.wikistyle p{margin:1em 0!important;line-height:1.5em!important;}
.wikistyle ul{margin:1em 0 1em 2em!important; list-style: square; line-height: 24px;}
.wikistyle ol{margin:1em 0 1em 2em!important; list-style-position: outside; list-style-type: decimal; line-height: 24px;}
.wikistyle ul ul,.wikistyle ul ol,.wikistyle ol ol,.wikistyle ol ul{margin-top:0!important;margin-bottom:0!important;}
.wikistyle blockquote{margin:1em 0 2em 0!important;border-left:5px solid #ddd!important;padding-left:.6em!important;color:#666!important;}
.wikistyle dt{font-weight:bold!important;margin-left:1em!important;}
.wikistyle dd{margin-left:2em!important;margin-bottom:1em!important;}
.wikistyle table{margin:1em 0!important;width:650px;}
.wikistyle table th{border-bottom:1px solid #bbb!important;padding:.2em 1em!important;}
.wikistyle table td{border-bottom:1px solid #ddd!important;padding:.2em 1em!important;}
.wikistyle table td:first-child{padding-left:0!important;}
.wikistyle table td:last-child{padding-right:0!important;}
.wikistyle pre{margin:1em 0 2em 0!important;font-size:90%!important;background-color:#f8f8ff!important;border-left:4px solid #e0e0e0!important;padding:.5em!important;line-height:1.5em!important;color:#444!important;overflow:auto!important;}
.wikistyle code{font-family:Consolas,"Andale Mono",monospace;font-size:90%;color:#444;background-color:#f8f8ff;border:1px solid #e0e0e0;padding:0 0.2em!important;}
.wikistyle pre code{display:block;padding:0!important;padding-left:10px!important;font-size:100%!important;border:none!important;}
.wikistyle pre.console{margin:1em 0!important;font-size:90%!important;background-color:black!important;padding:.5em!important;line-height:1.5em!important;color:white!important;}
.wikistyle pre.console code{padding:0!important;font-size:100%!important;background-color:black!important;border:none!important;color:white!important;}
.wikistyle pre.console span{color:#888!important;}
.wikistyle pre.console span.command{color:yellow!important;}
.wikistyle h1:after, .wikistyle h2:after, .wikistyle h3:after {content: '';}
.wikistyle a{color: #444;}
.wikistyle hr{height: 1px; border: none; background: #e0e0e0; margin: 30px 0;}
.wikistyle img {max-width: 642px; border:4px solid #e0e0e0!important;}
.wikistyle p.note {background:#FFF9D8!important; padding: 10px!important;color:#333!important;border-left:6px solid #F3E378!important;}