#!/usr/bin/make -f
#-*- makefile -*-
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Christoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_COMPAT=3

VERSION=0.9
MODULE_NAME=pdf
PLAY_VERSION=1.2
APP=play-1.2-$(MODULE_NAME)-module-$(VERSION)
MODULE=$(MODULE_NAME)-$(VERSION)

DEB_PATH=debian/$(APP)
INSTALL_PATH=/usr/share/play-modules/$(PLAY_VERSION)/$(MODULE)
DOC_INSTALL_PATH=/usr/share/doc/$(APP)

%:
	dh  $@

override_dh_auto_build: 
	/bin/echo -e '\n\n' | play-$(PLAY_VERSION) build-module

override_dh_auto_install: 
	install -d $(DEB_PATH)$(INSTALL_PATH)
	rsync -r --exclude .svn --exclude .CVS app lib src public $(DEB_PATH)$(INSTALL_PATH)
	install -d $(DEB_PATH)$(DOC_INSTALL_PATH)
	rsync -r --exclude .svn --exclude .CVS README $(DEB_PATH)$(DOC_INSTALL_PATH)
